# Run `npm run generate-keys` to generate these values

# Buyer Agent Keys
BUYER_WALLET_KEY=0x...
BUYER_DB_ENCRYPTION_KEY=0x...

# Supplier Agent Keys
SUPPLIER_WALLET_KEY=0x...
SUPPLIER_DB_ENCRYPTION_KEY=0x...

# XMTP Environment (dev | production)
XMTP_ENV=dev

# Buyer server port
BUYER_PORT=4001
